

.middle h1{
	font-size: 5em;
	text-transform: uppercase;
	font-weight: 800;
	color: #2c3e5036;
	background-image: url(water.png);
	-webkit-background-clip:text;
	animation: water 15s infinite;
}
@keyframes water {
	from{
		background-position: left 0 top 0;
	}
	to{
		background-position: left 1000px top 0;
	}
}
